<div class="container1">
  <p>"En Monolegal creemos que el tiempo es el único recurso verdaderamente
    no renovable y nuestra misión es <br>disminuir trabajo operativo por medio
    de herramientas tecnológicas de alta calidad</p>"
  <div class="tam"><p>Optimizamos tu vigilancia judicial</p></div>
  <p>Consultamos tus procesos todos los días en la página web de la Rama judicial de Colombia y te notificamos
    antes de las <br>8 de la mañana cuales tuvieron cambios al correo electrónico, aplicación móvil y web.</p>
  <div class="celph">
    <img src="assets/img4.png">
  </div>
</div>
